@media (max-width:1200px){
    header{
        width: 100%;
        background-image: url(../image/bg_img/bg1.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        .header__top{
            .header__topRight{
                ul{
                    display: none;
                }
                img{
                    display: block;
                }
            }
            .header__topLeft{
                gap: 10px;
            }
        }

        .header__bottom{
            padding-left: 70px;
            .container{
                div{
                    h1{
                        font-size: 40px;
                    }
                    p{
                        font-size: 18px;
                    }
                    .header_bottomBtns{
                        display: none;
                    }
                    .header_bottomBtns1{
                        display: block;
                        :nth-child(3){
                            display: none;
                        }
                        button{
                            padding: 8px 30px;
                            background-color: transparent;
                            color: rgb(243, 243, 243);
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 130%;
                            letter-spacing: 0%;
                            border-color: white;
                            margin-bottom: 100px;
                            cursor: pointer;
                                
                        }
                        button:hover{
                            background-color: white;
                            color: black;
                        }
                    }
                }
                :last-child{
                    h1{
                        font-size: 24px;
                    }
                    .hrader__statistics{
                        gap: 40px;
                    }
                }
            }
        }
    } 
    main{
        .use_section{
            .use_sectionTop{
                gap: 0;
               .container{
                .use__sectionLeft{
                    padding: 50px 50px 0 50px;
                    margin: 0 ;
                    div{
                        h1{
                            font-size: 24px;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 16px;
                            margin-bottom: 10px;
                        }
                        div{
                            p{
                                font-size: 16px;
                            }
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
               }
               :last-child{
                    img{
                        width: 460px;
                        height: 100%;
                    }
                }
            }
            .use_sectionBottom{
                .use__sectionLeft{
                    img{
                        width: 468px;
                        height: 100%;
                    }
                }
                .container{
                    .use__sectionLeft{
                    padding: 50px 50px 0 50px;
    
                        div{
                            h1{
                                font-size: 24px;
                            }
                            p{
                                font-size: 16px;
                            }
                            div{
                                p{
                                    font-size: 16px;
                                }
                                img{
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                        }
                    }
                }
            }
            
        }

        .cards{
            padding: 70px 20px;
            .container{
                gap: 9px;
                .card{
                    padding: 10px;
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                    img{
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }
        .mission__section{
            .container{
                .mission__sectionText{
                    padding: 100px 40px;
                    h1{
                        font-size: 36px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
            }
        }


        .careers__section{
            .container{
               .track__option{
                gap: 50px;
               } 
               .driver__careers{
            margin-right: 30px;

                margin-left: 80px;

                display: flex;
                    .driver__careersLeft{
                        padding: 40px;
                    }
                    .driver__careersRight{
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
               }

               .partner__imgs{
                div{
                    padding: 0 70px;
                    display: flex;
                    justify-content: none !important;
                    gap: 0;
                    img{
                        width: 130px;
                        height: 100px;
                    }
                }
               }
            }
        }

       
    }
    footer{
        .footer__certer{
            .container{
                .footer__option{
                    padding: 0 70px;
                    gap: 15px;
                }
            }
        }
        .footer__bottom{
            .container{
                .footer__text{
                    padding: 0 70px;
                }
            }
        }
    }
}









@media (max-width:768px){
    header{
        .header__top{
            .header__topLeft{
                div{
                    display: none;
                }
            }
        }
        .header__bottom{
            .container{
                div{
                    h1{
                        font-size: 24px;
                    }
                    p{
                        font-size: 15px;
                    }
                    .header_bottomBtns1{
                        display: block;
                        button{
                            margin-bottom: 10px;

                        }
                    }

                }
                :last-child{
                    display: none;
                }
            }
        }



    }
    .header__year{
        display: block;
        img{
            width: 90%;
        }
        .hrader__statistics{
            display: flex;
            div{
                gap: 4%;
                display: flex;
                div{
                    flex-direction: column;
                }
            }
        }


    }
    main{
        .use_section{
            .use_sectionTop{
                flex-direction: column-reverse;
                .container{
                    .use__sectionLeft{
                        div{
                            h1{
                                font-size: 24px;

                            }
                        }
                    }
                }
                .use__sectionRight{
                    img{
                        width: 100%;
                    }
                }
            }
            .use_sectionBottom{
                flex-direction: column;
                .use__sectionLeft{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        .cards{

            .container {
                flex-wrap: wrap;
                justify-content: space-between;

                .card {
                    max-width: 260px;
                    margin-bottom: 40px;
                }
            }

        }
        .careers__section{
            .container{
                .track__option{
                    padding: 20px;
                    flex-direction: column !important;
                    .track__text{
                        gap: 10px;
                    }
                }
            }
        }


        .careers__section{
            .driver__careers{
                .driver__careersLeft{
                    margin-left: -100px;

                }
                .driver__careersRight{
                    img{
                        width: 106.8% !important;
                        margin-right: -50px;
                    }
                }

            }
            .partner__imgs{
                h1{
                    font-size: 24px;
                }
                .partner__img{
                    padding: 0 20px !important;
                    img{
                        width: 60px !important;
                        height: 60px;
                    }
                }
            }

        }
    
    }
    footer{
        .footer__certer{
            .container{
                .footer__option{
                    gap: 0px !important;
                    padding: 0 20px !important;
                    :nth-child(3){
                        max-width: 100px;
                        .exra__text{
                            display: block;

                            
                        }
                    }
                    :nth-child(2){
                        .exra__text{
                            display: block;
                            
                        }
                    }
                       
                    .footer__title{
                        display: none;
                    }
    
                }
            }
        }
        .footer__bottom{
            .container{
                .footer__text{
                    flex-direction: column;
                    row-gap: 15px;
                    padding: 0 20px;
                }
            }
        }


    }
    
}


@media (max-width:375px){
    header{
        height: 300px;
        .header__top{
            .header__topLeft{
               a{
                img{
                    width: 148px;
                    height: 25px;
                }
               } 
            }
            .header__topRight{
                
                padding-right: 4%;

                button{
                    display: none;
                }
            }
        }
        .header__bottom{
          display: none;  
        }
    }

    .header__bottom1{
        display: block;
        background-color: rgb(33, 37, 41);;
        padding: 4%;
        .container{
            div{
                h1{
                    color: white;
                }
                p{
                    color: white;

                }
                .header_bottomBtns{
                    display: none;
                }
                .header_bottomBtns1{
                    display: block;
                    padding-top: 5%;
                    row-gap: 10px;
                    button{
                        margin-top: 10px;
                        background-color: transparent;
                        border-color: white;
                        padding: 3%;
                        width: 100%;
                        color: rgb(243, 243, 243);
                        font-size: 20px;
                        font-weight: 600;
                    }
                    button:hover{
                        background: rgb(106, 54, 156);
                    }
                                      
                }
            }


            :last-child{
                display: none;
            }
        }
    }
    .header__year{
        .hrader__statistics{
            flex-direction: column;
            div{
                display: flex;
                div{
                    flex-direction: column;
                }
            }
        }
    }

    main{
       .use_section{
            .use_sectionTop{
                .container{
                    .use__sectionLeft{
                        padding: 10% !important;
                    }
                }
            }
            .use_sectionBottom{
                .container{
                    .use__sectionLeft{
                        padding: 10% !important;

                    }
                }
            }
        }
        .cards{
            .container{
                .card{
                    margin: 0 auto;
                }
            }
        }
        .mission__section{
            background-image: url("../image/bg_img/bacg333.png");
            .container{
                .mission__sectionText{
                    padding-top: 200px;
                    h1{
                        font-size: 20px;
                    }
                    p{
                        font-size: 15px;
                    }
                }
            }
            
        }
        .careers__section{
            .container{
                .track__option{
                    .track__text{
                        flex-direction: column;
                        padding: 5%;
                        div{
                            ul{
                                list-style: circle !important;
                                li::marker{
                                    color: white !important;
                                }
                                

                            }
                        }
                    }
                    
                }
                .driver__careers{
                    flex-direction: column-reverse;
                    .driver__careersLeft{
                        button{
                            width: 100%;
                        }
                        width: 110%;
                    }
                    .driver__careersRight{
                        margin-left: -80px;
                        img{
                        width: 100% !important;
                        }
                    }
                }
                .partner__imgs{
                    .partner__img{
                        flex-direction: column;
                        padding: 0;
                        img{
                            margin: 0 auto;
                            width: 60% !important;

                        }
                    }
                }
            }
        }
    }

    footer{
        .footer__certer{
           .container{
            .footer__option{
                flex-direction: column;
                width: 50%;
                margin-bottom: 10px;

                div{
                    margin-bottom: 10px;
                    flex-direction: column;
                    h1{
                        width: 100% !important;
                    }
                    p{
                        width: 100% !important;
                        a{
                            width: 100% !important;
                        }
                    }
                }
            }
           } 
        }
    }
}
